
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("RedHatText-VariableFont_wght"),
    url("./fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Italics"; /*Can be any text*/
  src: local("RedHatText-Italic-VariableFont_wght"),
    url("./fonts/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
}
